{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions, ie 10-11"
        },
        "modules": false
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        "transform-es2015-modules-commonjs",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "auto"
          },
          "jest"
        ],
        ["@babel/preset-react"]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
