{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      },
      "jest"
    ],
    ["@babel/preset-react"]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "development": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "auto"
          },
          "jest"
        ]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
